$light: #E5EBF5;
$primary: #ff6a48;
$dark: #121615;
$secondary: #040d19;

$body-color: #333333 !default;

$font-size-base: 1rem;
$font-family-base: 'TTNorms',
sans-serif;
$headings-font-family: 'CenturyGothic',
sans-serif;
$headings-font-weight: bold;

$link-hover-decoration: none !default;
$input-btn-focus-width: 0 !default;
$input-btn-focus-color: rgba(#fff, 0) !default;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$border-width: 2px !default;

$border-radius: 0;
$btn-padding-x: 30px;
$btn-padding-y: 15px;

$h1-font-size: $font-size-base * 3 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.125 !default;
$h4-font-size: $font-size-base * 1 !default;