.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'CenturyGothic', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    z-index: 5;

    &-primary {
        background: transparent;
        border: none;

        &::before {
            content: '';
            @extend %pos;
            background: $primary;
            transform: skew(0);
            z-index: -5;
            transition: .3s ease-in;
        }

        &:hover {
            background: transparent;

            &::before {
                transform: skew(-20deg);
            }
        }
    }
}