.modal {
    position: fixed;
    top: 50%;
    left: 200%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
    padding: 50px 45px;
    width: 100%;
    max-width: 380px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 13px 29px 6px rgba(21, 21, 21, 0.2);
    border: 1px solid #e1e1e1;
    z-index: 9999;
    display: block;
    transition: .7s;

    &.active {
        left: 50%;
    }

    .close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        opacity: .8;
        transition: .5s;
        cursor: pointer;
        z-index: 5;

        .line {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 2px;
            background: #e7e7e7;

            &--left {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            
            &--right {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        &:hover {
            opacity: 1;
        }
    }

    &-header {
        border: none;

        &__title {
            text-transform: uppercase;
        }
    }

    &-body {

        &__text {
            font-size: 14px;
            color: #949494;
        }
    }
}

.modal-mask {
    @extend %pos;
    position: fixed;
    z-index: 9998;
    display: none;
}